site_name: Arkadice RPG
site_description: Livro de Regras Oficial
site_author: Mestre

docs_dir: docs
site_dir: site

theme:
  name: material
  language: pt-BR
  palette:
    scheme: slate
    primary: black
    accent: amber
  features:
    - navigation.indexes
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.annotate

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - tables
