site_name: Arkadice RPG
site_description: Livro de Regras Oficial
site_author: Mestre

docs_dir: docs
site_dir: site

theme:
  name: material
  language: pt-BR
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: deep orange
      accent: deep orange
      toggle:
        icon: material/brightness-7
        name: Mudar para modo Escuro
    # Palette toggle for dark mode
    - scheme: slate
      primary: deep orange
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Mudar para modo Claro
  features:
    - navigation.indexes
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.annotate

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - tables
